#root1 {
  margin: auto; 
  width: 60%;
  padding: 20px; 
}
#inp {
  background-color: #2edb96;
  padding: 10px;
}

#out {
  background-color: #2edb96;
  padding: 10px;
}

#preview {
  margin: auto; 
  width: 70%;
  border: 3px solid black;
  padding: 20px;
}
textarea {
    display: block;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
}
h1,h3 {
  text-align:center;
}